@import 'app/assets/styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-[#131313] text-base font-light tracking-wider text-gray;
	font-family: 'Manrope', sans-serif;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.font-serif {
	font-family: 'Playfair Display', serif;
}

.btn-style {
	@apply border-b border-[rgba(255,255,255,.2)] text-sm uppercase tracking-widest text-white;
}
